[package]
name = "psst-core"
version = "0.1.0"
authors = ["Jan Pochyla <jpochyla@gmail.com>"]
edition = "2018"

[dependencies]
psst-protocol = { path = "../psst-protocol" }

aes-ctr = "0.6"
byteorder = "1.3"
crossbeam-channel = "0.5"
hmac = "0.10"
iset = "0.0.3"
log = "0.4"
minivorbis = { path = "../minivorbis"}
num-bigint = { version = "0.3", features = ["rand"] }
num-traits = "0.2"
quick-protobuf = "0.8"
rand = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha-1 = "0.9"
shannon = "0.2"
soundio = { git = "https://github.com/jpochyla/soundio-rs", branch = "static-callbacks" }
tempfile = "3.1"
ureq = { version = "2.0.0-rc2", features = ["json"] }
