[package]
name = "psst-core"
version = "0.1.0"
authors = ["Jan Pochyla <jpochyla@gmail.com>"]
edition = "2018"

[dependencies]
psst-protocol = { path = "../psst-protocol" }

aes = { version = "0.7", features = ["ctr"] }
byteorder = "1.4"
cpal = "0.13"
crossbeam-channel = "0.5"
hmac = "0.11"
libsamplerate = "0.1"
log = "0.4"
num-bigint = { version = "0.4", features = ["rand"] }
num-traits = "0.2"
parking_lot = "0.11"
quick-protobuf = "0.8"
rand = "0.8"
rangemap = "0.1"
rb = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha-1 = "0.9"
shannon = "0.2"
socks = "0.3"
symphonia = { version = "0.4", default-features = false, features = ["ogg", "vorbis"]}
tempfile = "3.2"
ureq = { version = "2.2", features = ["json"] }
url = "2.2"