[package]
name = "psst-gui"
version = "0.1.0"
authors = ["Jan Pochyla <jpochyla@gmail.com>"]
edition = "2018"
build = "build.rs"
description = "Fast Spotify client with native GUI"
repository = "https://github.com/jpochyla/psst"

[dependencies]
psst-core = { path = "../psst-core" }

crossbeam-channel = "0.5"
druid-shell = { git = "https://github.com/jpochyla/druid", branch = "psst", features = ["raw-win-handle"] }
druid = { git = "https://github.com/jpochyla/druid", branch = "psst", features = ["im", "image", "jpeg", "png", "serde"] }
env_logger = "0.9"
fs_extra = "1.2"
itertools = "0.10"
log = "0.4"
lru-cache = "0.1"
once_cell = "1.8"
open = "2.0"
parking_lot = "0.11"
platform-dirs = "0.3"
rand = "0.8"
raw-window-handle = "0.3"
regex = "1.5"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
souvlaki = "=0.4.0"
time = { version = "0.3", features = ["macros", "formatting"] }
threadpool = "1.8"
ureq = { version = "2.1", features = ["json", "socks-proxy"] }
url = "2.2"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.11"

[package.metadata.bundle]
name = "Psst"
identifier = "com.jpochyla.psst"
icon = [
    "assets/logo_32.png",
    "assets/logo_64.png",
    "assets/logo_128.png",
    "assets/logo_256.png",
    "assets/logo_512.png",
]
version = "0.1.0"
resources = []
copyright = "Copyright (c) Jan Pochyla 2021. All rights reserved."
category = "Music"
short_description = "Fast Spotify client with native GUI"
long_description = """
Small and efficient graphical music player for Spotify network.
"""
