[Desktop Entry]
Type=Application
Name=Psst
Comment=Fast and native Spotify client
GenericName=Music Player
Icon=psst
TryExec=psst-gui
Exec=psst-gui %U
Terminal=false
MimeType=x-scheme-handler/psst;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=psst-gui
