name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive 
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - uses: Swatinem/rust-cache@v1

    - name: Install Dependencies
      run: sudo apt-get install -y libgtk-3-dev libssl-dev
      if: ${{ runner.os == 'Linux' }}
    - name: Run tests
      continue-on-error: true
      run: cargo test
    - name: Build
      run: cargo build --release
    - name: Format
      run: cargo fmt --all -- --check
    - name: Make it executable
      run: chmod +x target/release/psst-gui
      if: ${{ runner.os != 'Windows' }}
    - uses: actions/upload-artifact@v2
      with:
        name: psst-gui-${{ runner.os }}
        path: |
          target/release/psst-gui
          target/release/psst-gui.exe

  deb:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v2
      with:
        name: psst-gui-Linux
        path: ${{runner.workspace}}
    - name: Move executable
      run: mkdir -p ${{runner.workspace}}/pkg/usr/bin/; mv ${{runner.workspace}}/psst-gui $_
    - name: Move desktop
      run: mkdir -p ${{runner.workspace}}/pkg/usr/share/applications/; mv .pkg/psst.desktop $_
    - name: Set permissions
      run: chmod 755 ${{runner.workspace}}/pkg/usr/bin/psst-gui
    - name: Move license
      run: mkdir -p ${{runner.workspace}}/pkg/usr/share/doc/psst/; mv .pkg/copyright $_
    - name: Move package config
      run: mkdir -p ${{runner.workspace}}/pkg/; mv .pkg/DEBIAN $_/
    - name: Set version
      run: "echo Version: $(git rev-list --count HEAD) >> ${{runner.workspace}}/pkg/DEBIAN/control"
    - name: Build package
      run: cat ${{runner.workspace}}/pkg/DEBIAN/control && dpkg-deb -b ${{runner.workspace}}/pkg/ psst_$(git rev-list --count HEAD)_amd64.deb
    - uses: actions/upload-artifact@v2
      with:
        name: psst-deb
        path: "*.deb"
