name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable

    - uses: Swatinem/rust-cache@v2

    - name: Update Linux Repositories
      run: sudo apt-get update
      if: ${{ runner.os == 'Linux' }}

    - name: Install Linux Dependencies
      run: sudo apt-get install -y libgtk-3-dev libssl-dev libasound2-dev
      if: ${{ runner.os == 'Linux' }}

    - name: Check Formatting
      run: cargo fmt --all -- --check

    - name: Run Tests
      run: cargo test
      continue-on-error: true

    - name: Build Release
      run: cargo build --release

    - name: Bundle macOS Release
      run: |
        cargo install cargo-bundle
        cargo bundle --release
      working-directory: psst-gui
      if: ${{ runner.os == 'macOS' }}
  
    - name: Create .dmg File
      run: |
        hdiutil create Psst-uncompressed.dmg -volname "Psst" -srcfolder target/release/bundle/osx
        hdiutil convert Psst-uncompressed.dmg -format UDZO -o Psst-x64.dmg
      if: ${{ runner.os == 'macOS' }}

    - name: Make Linux Binary Executable
      run: chmod +x target/release/psst-gui
      if: ${{ runner.os == 'Linux' }}

    - uses: actions/upload-artifact@v3
      with:
        name: psst-gui
        path: target/release/psst-gui
      if: ${{ runner.os == 'Linux' }}

    - uses: actions/upload-artifact@v3
      with:
        name: Psst-x64.dmg
        path: ./Psst-x64.dmg
      if: ${{ runner.os == 'macOS' }}

    - uses: actions/upload-artifact@v3
      with:
        name: Psst.exe
        path: target/release/psst-gui.exe
      if: ${{ runner.os == 'Windows' }}

  deb:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v3
      with:
        name: psst-gui
        path: ${{runner.workspace}}
    - name: Move executable
      run: mkdir -p ${{runner.workspace}}/pkg/usr/bin/; mv ${{runner.workspace}}/psst-gui $_
    - name: Move desktop
      run: mkdir -p ${{runner.workspace}}/pkg/usr/share/applications/; mv .pkg/psst.desktop $_
    - name: Add icons
      run: |
        LOGOS=$(cd ./psst-gui/assets/ && ls logo_*.png)
        for LOGO in $LOGOS
        do
          LOGO_SIZE=$(echo "${LOGO}" | grep -oE '[[:digit:]]{2,}')
          mkdir -p "${{runner.workspace}}/pkg/usr/share/icons/hicolor/${LOGO_SIZE}x${LOGO_SIZE}/"
          cp "./psst-gui/assets/${LOGO}" "$_/psst.png"
        done
    - name: Set permissions
      run: chmod 755 ${{runner.workspace}}/pkg/usr/bin/psst-gui
    - name: Move license
      run: mkdir -p ${{runner.workspace}}/pkg/usr/share/doc/psst-gui/; mv .pkg/copyright $_
    - name: Move package config
      run: mkdir -p ${{runner.workspace}}/pkg/; mv .pkg/DEBIAN $_/
    - name: Set version
      run: "echo Version: $(git rev-list --count HEAD) >> ${{runner.workspace}}/pkg/DEBIAN/control"
    - name: Build package
      run: cat ${{runner.workspace}}/pkg/DEBIAN/control && dpkg-deb -b ${{runner.workspace}}/pkg/ psst_$(git rev-list --count HEAD)_amd64.deb
    - uses: actions/upload-artifact@v3
      with:
        name: psst-deb
        path: "*.deb"

  appimage:
    runs-on: ubuntu-latest
    needs: deb
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v3
      with:
        name: psst-deb
        path: ${{runner.workspace}}
    - name: create a directory to work in
      run: mkdir -p ${{runner.workspace}}/appimage
    - name: download latest pkg2appimage
      run: |
        latest_release_appimage_url=$(wget -q https://api.github.com/repos/AppImageCommunity/pkg2appimage/releases/latest -O - | jq -r '.assets[0].browser_download_url')
        wget --directory-prefix=${{runner.workspace}}/appimage -c $latest_release_appimage_url
    - name: create absolute path to pkg2appimage's executable
      run: |
        pkg2appimage_executable=$(ls ${{runner.workspace}}/appimage)
        app_path=${{runner.workspace}}/appimage/${pkg2appimage_executable}
        chmod +x ${app_path}
        echo "app_path=${app_path}" >> $GITHUB_ENV 
    - name: create absolute path to pkg2appimage's recipe file
      run: |
        recipe_path=${{runner.workspace}}/psst/.pkg/APPIMAGE/pkg2appimage-ingredients.yml
        echo "recipe_path=${recipe_path}" >> $GITHUB_ENV
    - name: run pkg2appimage to create appimage from debian package
      run: |
        ${{env.app_path}} ${{env.recipe_path}}
    - uses: actions/upload-artifact@v3
      with:
        name: psst-appimage
        path: ${{runner.workspace}}/out/*.AppImage
